{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}
                See how cool I am!??!
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% block header %} {% endblock %}
    </head>
    <body>
        <header>
            <h1>I'm Cool!!!!</h1>
        <nav>
                <ul>
                    <li>
                        <a href="{% url 'home' %}"> Home</a>
                    </li>
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>

                </ul>
        </nav>        </header>
        {% block content %} {%  endblock %}
        {% block footer %} {% endblock %}
    </body>
</html>